<div class="table-responsive" style="font-size: small; font-weight: lighter; margin-top: 20px; width: 100%;">
    <table class="table table-hover">
        <thead style="background-color: darkgray;">
            <tr>
                <th  scope="col"></th>
                <th  scope="col">Tecnologia</th>
                <th  [appSort] = "tecnologiaLista" data-order="asc" data-name="diffFormatado" scope="col">Lag</th>
                <th  [appSort] = "tecnologiaLista" data-order="asc" data-name="dhrEvento"  scope="col">Terminal</th>
                <th  [appSort] = "tecnologiaLista" data-order="desc" data-name="dhrProcFornecedor" scope="col">Operadora</th>
                <th  [appSort] = "tecnologiaLista" data-order="desc" data-name="dhrProcPamcary" scope="col">Infolog</th>
                <th  [appSort] = "tecnologiaLista" data-order="desc" data-name="qtdeProcessado" scope="col">Lidos</th>
                <th  [appSort] = "tecnologiaLista" data-order="desc" data-name="qtdeAProcessar" scope="col">A processar</th>
                <th  [appSort] = "tecnologiaLista" data-order="desc" data-name="qtdeProcessando" scope="col">Processando</th>
                <th  [appSort] = "tecnologiaLista" data-order="desc" data-name="total" scope="col">Total</th>
                <th  [appSort] = "tecnologiaLista" data-order="desc" data-name="qtdeDedicado" scope="col">Dedicados</th>
                <th  [appSort] = "tecnologiaLista" data-order="desc" data-name="qtdeVeiculo" scope="col">PV. Ativos</th>

            </tr>
        </thead>

        <tbody *ngIf="tecnologiaLista!=null; else naoEncontrado">
            <tr *ngFor="let tecnologia of tecnologiaLista">
                <td><img style="width: 15px; height: 15px;" src="../../assets/images/baseline_volume_up_black_18dp.png"></td>
                <td>{{tecnologia.provedor}}</td>
                <td>{{tecnologia.diffFormatado}}</td>
                <td>{{tecnologia.dhrEvento | date :'dd/MM/yyyy hh:mm:ss'}}</td>
                <td>{{tecnologia.dhrProcFornecedor | date : 'dd/MM/yyyy hh:mm:ss'}}</td>
                <td>{{tecnologia.dhrProcPamcary | date : 'dd/MM/yyyy hh:mm:ss'}}</td>
                <td>{{tecnologia.qtdeProcessado}}</td>
                <td>{{tecnologia.qtdeAProcessar}}</td>
                <td>{{tecnologia.qtdeProcessando}}</td>
                <td>{{tecnologia.total}}</td>
                <td>{{tecnologia.qtdeDedicado}}</td>
                <td>{{tecnologia.qtdeVeiculo}}</td>
            </tr>
        </tbody>

        <ng-template #naoEncontrado>
            <tr>
                <td colspan="12" align="center">
                    <div class="alert alert-warning" role="alert">
                        <a href="#" class="alert-link" (click)="onSubmit()">Provedor não encontrado! Recarregar Grid
                            <img src="../../assets/images/baseline_autorenew_black_18dp.png">
                        </a>
                    </div>
                </td>
            </tr>
        </ng-template>
    </table>
</div>