<nav class="navbar" style="background-color: darkgray; width: 100%;">
    <span style="font-size: large; font-weight: bold;">Monitor de Tecnologias</span>
    <form class="form-inline" (ngSubmit)="onSubmit($event)">
        <input class="form-control" name="inputPesquisar" type="text" [(ngModel)]="filtroProvedor">
        <button class=" btn btn-success my-2 my-sm-0"><img src="../../assets/images/baseline_search_black_18dp.png" title="Pesquisar Provedor" style="width:20px; height: 20px;"></button>

    </form>
</nav>