<button mat-icon-button mat-dialog-close class="close-button">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<h2 mat-dialog-title>Legenda</h2>
<div mat-dialog-content>
    <div>
        <canvas id="legendaAmarela" width="10" height="10" style="border: 1px solid #000000; background: #ffff00">Seu browser n&#xE3;o suporta o componente CANVAS do HTML5.
      </canvas> Delay maior que <b>05</b> minutos.
    </div>

    <div>
        <canvas id="legendaLaranja" width="10" height="10" style="border: 1px solid #000000; background: #ffbb33">Seu browser n&#xE3;o suporta o componente CANVAS do HTML5.
      </canvas> Delay maior que <b>10</b> minutos.

    </div>
    <div>
        <canvas id="legendaVermelha" width="10" height="10" style="border: 1px solid #000000; background: #ff4444">Seu browser n&#xE3;o suporta o componente CANVAS do HTML5.
      </canvas> Delay maior que <b>20</b> minutos.

    </div>
    <div>
        <canvas id="legendaVermelhaEscura" width="10" height="10" style="border: 1px solid #000000; background: #cc0000">Seu browser n&#xE3;o suporta o componente CANVAS do HTML5.
      </canvas> Delay maior que <b>30</b> minutos.

    </div>
    <div>
        <canvas id="Preta" width="10" height="10" style="border: 1px solid #000000; background: #2e2e2e">Seu browser n&#xE3;o suporta o componente CANVAS do HTML5.
      </canvas> Delay maior que <b>60</b> minutos.

    </div>
    <div>
        <canvas id="Roxa" width="10" height="10" style="border: 1px solid #000000; background: #610b4b">Seu browser n&#xE3;o suporta o componente CANVAS do HTML5.
      </canvas> Delay maior que <b>24</b> horas.

    </div>

</div>
