<div class="row" id="indicadores" style="margin-top: 20px;">

    <div class="col-3 text-center">
        <img src="//placehold.it/150/98FB98/fff&text=1000" class="center-block img-fluid rounded-circle" alt="total">
        <br>
        <span style="font-size: small;">Eventos Processados</span>


    </div>
    <div class="col-3 text-center">
        <img src="//placehold.it/150/B0E0E6/fff&text=2000" class="center-block img-fluid rounded-circle" alt="processando">
        <br>
        <span style="font-size: small;">Ve&#xed;culos Ativos</span>

    </div>
    <div class="col-3 text-center">
        <img src="//placehold.it/150/C0C0C0/fff&text=3000" class="center-block img-responsive rounded-circle" alt="aProcessar">
        <br>
        <span style="font-size: small;">Ve&#xed;culos Dedicados</span>

    </div>
    <div class="col-3 text-center">
        <img src="//placehold.it/150/FFDEAD/fff&text=4000" class="center-block img-responsive rounded-circle" alt="processado">
        <br>
        <span style="font-size: small;">Ve&#xed;culos com PV. Ativo</span>
    </div>
</div>
<br>
